*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(17,107,143);
    color: white;
    width: 100%;
}
  /* Navigation bar styles */
  #navBody {
    color: #fff;
    background: linear-gradient(to left, #fff, rgb(10, 144, 246));
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 4px 20px -2px#e5e4e4;
  }
  #navBody h3 {
    /* margin: 0; */
    font-family: serif;
    font-size: 1.5rem;
    font-weight: 500;
  }
  #navBody h3:hover {
    transform: scale(1.1);
  }
  header:hover {
    text-decoration: underline;
  }
  .navbar-nav .nav-link {
    /* color: #6f7071; */
    color: rgb(17,107,143);
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: rgb(27, 26, 26);
  }
  
  /* Header styles */

  header {
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Carousel styles */
  .carousel-img {
    position: relative;
  }
  
  
  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    opacity: 0.7;
  }
  
  .carousel-control-prev {
    left: 20px;
  }
  
  .carousel-control-next {
    right: 20px;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 1;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    font-size: 24px;
  }
  
  .carousel-item img {
    height: 800px;
    object-fit: cover;
  }
  
  .modal-header {
    background-color: #276ae6;
    color: white;
  }
  
  .modal-footer {
    background-color: #f8f9fa;
  }
  
  /* Hide file input label */
  .custom-file-label::after {
    content: "Browse";
  }
  
  /* Disable submit button until form is valid */
  button[type="submit"][disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .hidden {
    display: none;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  .navButton{
    display: flex;
    margin: 5px;
    margin-left: 0px;
    column-gap: 5px;
    font-weight: 500;
  }
  /* footer Css..  */

a{
    text-decoration: none;
    color: white;
    transition: .5s;
}

ul,li{
    list-style-type: none;
}
.footer_info{
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 50px 0;
}

.footer_About p{
    font-size: larger;
}

.footer_Link a{
    font-size: larger;
    text-decoration: none;
}

.footer_info .footer_About{
    padding: 0 15px;
}

.footer_info h1{
 margin-bottom: 20px;
}

.footer_About ,.footer_Contacts{
    width: 40%;
}

.footer_Link{
    width: 20%;
}

.footer_Link ul li a{
    display: block;
    margin-bottom: 15px;
}

.footer_Link ul li a :hover{
    color:white;
    transform: scale(1.01);
}
.footer_Contacts ul li {
    display: block;
    margin-bottom: 15px;
}
.icons ul{
    display: flex;
}

.icons ul li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 35px;
    margin-right: 50px;
    padding-top: 15px;
    background: transparent;
    border: 1px solid white;
    border-radius: 25px;
    text-align: center;
}
.icons ul li a :hover{
    color: white;
}

.copy-right{
    padding: 15PX 0;
    text-align: center;
    background-color:#e4e4e4;
    color: rgb(17,107,143);
}
/* footer ends here  */

/* codes for making responsive */

@media (max-width: 600px) {
  #navBody {
    background: none;
    background: linear-gradient(to left, #fff, rgb(10, 144, 246));
    color: black;
  }
  .navButton{
    display: flex;
    column-gap: 5px;
    flex-direction: row-reverse;
  }
  .footer_info{
    display: flex;
    flex-direction: column;

  }
}
